{% extends 'base.html' %} 
{% load static %} 

{% block head %} 
{% comment %} <link
rel='stylesheet' href='{% static 'css/form.css' %}'/>  {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <link href='{% static 'css/bootstrap.min.css' %}' rel='stylesheet'> 
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}


{% block content %}

<div class="page-header">
  {% if task %}
  <h2>Update {{ task.task_name }}</h2>
  {% else %}
  <h2>Add a Task to {{ case.name }} </h2>
  {% endif %}
</div>

<form action="" method="post" class="add-task-form-container">
  {% csrf_token %}
  <table>
    <input type="hidden" name="case_id" value="{{ case.pk }}"/>
    {{ form.as_p }}
  </table>
  {% if task %}
  <button type="submit" class="btn btn-info">SAVE UPDATE</button>
  {% else %}
  <button type="submit" class="btn btn-info">ADD TASK</button>
  {% endif %}
</form>

{% endblock %}
