{% extends 'base.html' %} {% load static %} {% block head %} <link
rel='stylesheet' href='{% static 'css/form.css' %}'/> {% endblock %} 

{% block content %}

<div class="page-header">
  {% if task %}
  <h1>Update {{ task.task_name }}</h1>
  {% else %}
  <h1>Add a Task to {{ case.name }} </h1>
  {% endif %}
</div>

<form action="" method="post" class="add-task-form-container">
  {% csrf_token %}
  <table>
    <input type="hidden" name="case_id" value="{{ case.pk }}"/>
    {{ form.as_p }}
  </table>
  {% if task %}
  <button type="submit" class="submit-button">SAVE UPDATE</button>
  {% else %}
  <button type="submit" class="submit-button">ADD TASK</button>
  {% endif %}
</form>

{% endblock %}
