{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <link href='{% static 'css/bootstrap.min.css' %}' rel='stylesheet'> 
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% block content %}

<div class='page-header'>
    <h1>Delete Task?</h1>
</div>

<h2>Deleting {{ task.task_name }} will permanently remove it from the database. Are you sure you want to delete {{ task.task_name }}?</h2>

<form action='' method='post' class='form'>
    {% csrf_token %}
    <a href='{% url 'task-detail' task.id %}' class='button-secondary'>Cancel</a>
    <button type='submit' class='button-danger delete-button'>Yes - Delete</button>
</form>

{% endblock %}