{% extends 'base.html' %} {% load static %} {% block head %} <link
rel='stylesheet' href='{% static 'css/form.css' %}'/> {% endblock %} 

{% block content %}

<div class="page-header">
  {% if case %}
  <h1>Edit {{ task.task_name }}</h1>
  {% else %}
  <h1>Add Task</h1>
  {% endif %}
</div>

<form action="" method="post" class="add-task-form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="button-submit">Add Task</button>
</form>

{% endblock %}
