{% extends "base.html" %}

{% load static %}

{% block title %}Case Details{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <link href='{% static 'css/bootstrap.min.css' %}' rel='stylesheet'> 
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

{% block content %}
<div class="case-details-wrapper content">
  <h2>{{ case.name }}</h2>
  <div class="case-details mb-4">
    <p><strong>Client:</strong> {{ case.client }}</p>
    <p><strong>Description:</strong> {{ case.description }}</p>
    <p><strong>Date Opened:</strong> {{ case.date_opened }}</p>
    <p><strong>Date Closed:</strong> {{ case.date_closed }}</p>
    <p><strong>Case Stage:</strong> {{ case.get_case_stage_display }}</p>
    <p><strong>Case Status:</strong> {{ case.get_case_status_display }}</p>
  </div>
  <div class="action-buttons-container mb-4">
    <a href="{% url 'task-create' %}" class="action-button update-button btn btn-success">ADD TASK</a>
    <a href="{% url 'case-update' case.pk %}" class="action-button update-button btn btn-success">UPDATE</a>
    <a href="{% url 'case-close' case.pk %}" class="action-button close-button btn btn-danger">CLOSE</a>
  </div>


  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary mb-3" id="task-create">
  <i class="fa-regular fa-square-plus fa-lg me-1"></i>Add Task
</button>
        {% if tasks %}
        <div class="card border-info mb-4">
          <div class="card-header">{{ case.name }} Case Tasks</div>
          <div class="card-body p-0">
            <div class='table-responsive'>
              <table class="table table-hover mb-0" id="tasksTable">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Est. Time</th>
                    <th scope="col">Actual Time</th>
                    <th class="task-buttons" scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody id='myTasks'>
                  {% for task in tasks %}
                  <tr>
                    <td>{{ task.task_name }}</td>
                    <td>{{ task.get_task_type_display }}</td>
                    <td>{{ task.get_task_status_display }}</td>
                    <td>{{ task.estimated_time }}</td>
                    <td>{{ task.actual_time }}</td>
                    <td>
                      <a class='btn btn-primary btn-sm me-1' href='{% url 'task-detail' task.pk %}'><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                      <a class='btn btn-warning btn-sm me-1' href='{% url 'task-update' task.pk %}'><i class="fa-regular fa-pen-to-square"></i></a>
                      <a class='btn btn-success btn-sm me-1' href='{% url 'task-close' task.pk %}'><i class="fa-regular fa-square-check"></i></a>
                      <a class='btn btn-danger btn-sm me-1' href='{% url 'task-delete' task.pk %}'><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% else %}
        <h4 class='alert alert-primary mb-4'>{{ case.name }} has no tasks!</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
  $(document).ready(function() {
    // Function to add task row
    function addTaskRow(task) {
      const row = `<tr scope="row" class="task-row-${task.id}">
                      <td>${task.task_name}</td>
                      <td>${task.task_type}</td>
                      <td>${task.task_status}</td>
               
                      <td>${task.estimated_time}</td>
                      <td>${task.actual_time}</td>
                      <td>
                        <a class='btn btn-primary btn-sm me-1' href='/tasks/${task.id}/detail'><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        <a class='btn btn-warning btn-sm me-1' href='/tasks/${task.id}/update'><i class="fa-regular fa-pen-to-square"></i></a>
                        <a class='btn btn-success btn-sm me-1' href='/tasks/${task.id}/close'><i class="fa-regular fa-square-check"></i></a>
                        <a class='btn btn-danger btn-sm me-1' href='/tasks/${task.id}/delete'><i class="fa-regular fa-trash-can"></i></a>
                      </td>
                  </tr>`;
      $('#tasksTable').append(row);
    }

    // Fetch tasks from API and populate table
    const dataURL = '/tasksapi/';
    $.ajax({
      method: 'GET',
      url: dataURL,
      success: function(response) {
        response.forEach(task => {
          addTaskRow(task);
        });
      }
    });

    // Handle create task button click
    $('#task-create').on('click', function() {
      // Define new task object
      let taskId = 1;
      let newTask = {
        task_name: 'New Task',
        id: `task-${taskId}`,
        task_type: 'Type',
        task_status: 'Status',
        estimated_time: 'Estimated Time',
        actual_time: 'Actual Time'
      };

      // Append new task to table and increment taskId
      addTaskRow(newTask);
      taskId++;
    });
  });
</script>
{% endblock %}