{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CaseLawg Tasks Index</title>
    <link href='{% static 'css/bootstrap.min.css' %}' rel='stylesheet'>
  </head>

  <body>
    <h1>TASKS HERE</h1>
    <div class="container-fluid">
      <h3 class="m-4">All Tasks</h3>
      <div class="row">
        <div class="col-12"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
