{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>CASELAWG</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    <nav class="main-nav">
      <ul class="main-nav-list">
        {% if user.is_authenticated %}
          <li class="main-nav-item"><a href='{% url 'case-index' %}' class="main-nav-link">MY CASES</a></li>
          <li class="main-nav-item"><a href='{% url 'case-create' %}' class="main-nav-link">ADD CASE</a></li>
          <li class="main-nav-item"><a href='{% url 'task-create' %}' class="main-nav-link">ADD TASK</a></li>
          <li class="main-nav-item"><a href='{% url 'about' %}' class="main-nav-link">ABOUT</a></li>
          <li class="main-nav-item">
            
        {% else %}
          <li class="main-nav-item"><a href='{% url 'about' %}' class="main-nav-link">ABOUT</a></li>
          <li class="main-nav-item"><a href='{% url 'home' %}' class="main-nav-link">LOGIN</a></li>
          <li class="main-nav-item"><a href='{% url 'signup' %}' class="main-nav-link">CREATE ACCOUNT</a></li>
        {% endif %}
      </ul>
    </nav>
    <div class="container">
      <nav class="sidebar">

        <ul>
          {% for case in cases %}
          <li class="{% if case.case_status == 'A' %}status-active{% elif case.case_status == 'I' %}status-inactive{% elif case.case_status == 'C' %}status-closed{% endif %}">
            <a href="{% url 'case-detail' case.id %}" class="base-button case-button">
              <div class="status-strip"></div>
              {{case.name}}
            </a>
          </li>
          {% endfor %}
        </ul>
        <div class="create-button-container">
          <a href="{% url 'case-create' %}" class="base-button create-button" aria-label="Create New Case">+</a>
        </div>
        {% if user.is_authenticated %}
        <div class="logout-button-container">
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="base-button logout-button">LOG OUT</button>
          </form>
        </div>
        {% endif %}
      </nav>
      <main class="content">
        {% block content %}{% endblock %}
      </main>
    </div>
  </body>
</html>