body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #dee2e7;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
   display: flex;
   flex-direction: column;
   width: 200px;
   margin: 20px;
   padding: 15px;
   border-radius: 35px;
   background-color: #9cadc2;

}