:root {
  --bg-color: #0a192c;
  --sidebar-width: 200px;
  --sidebar-border: 2px solid #656565;
  --padding: 15px;
  --button-bg: rgb(78, 78, 78);
  --button-hover-bg: rgb(78, 78, 78);
  --button-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  --white: white;
  --green: rgb(0, 255, 98);
  --yellow: rgb(255, 238, 0);
  --red: rgb(220, 0, 0);
  --blue: #2980b9;
  --green-dark: #229954;
  --red-dark: #c0392b;
  --border-radius: 5px;
  --font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width); 
  border-right: var(--sidebar-border);
  padding: var(--padding);
  overflow-y: auto;
  flex-shrink: 0; 
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin: 20px;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--white);
  max-height: 40vh;
  overflow-y: auto;
}

.case-details-wrapper {
  width: 90%;
  margin: 0;
}

.case-details h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.case-details p {
  margin-bottom: -2px;
 
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  list-style: none;
  margin-top: 12px;
}

li {
  position: relative;
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

.case-button {
  display: block;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  background-color: var(--button-bg);
  text-decoration: none;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  color: var(--white);
  text-overflow: ellipsis;
  box-shadow: var(--button-box-shadow);
  transition: all 0.3s ease;
  max-width: 100%;
}

li:hover .case-button {
  white-space: normal;
  overflow: visible;
  background-color: var(--button-hover-bg);
}

.status-strip {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
}

.status-active .status-strip {
  background-color: var(--green);
}

.status-inactive .status-strip {
  background-color: var(--yellow);
}

.status-closed .status-strip {
  background-color: var(--red);
}

.create-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10px;
}

.create-button {
  text-decoration: none;
  color: var(--blue);
  background-color: var(--white);
  padding: 2px;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.create-button:hover {
  background-color: var(--blue);
  color: var(--white);
}

.action-buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.action-button {
  text-decoration: none;
  color: var(--white);
  padding: 10px 20px;
  text-align: center;
  border-radius: var(--border-radius);
  font-weight: 500;
  width: 75px;
}

.update-button {
  background-color: #27ae60;
}

.update-button:hover {
  background-color: var(--green-dark);
}

.close-button {
  background-color: #e74c3c;
}

.close-button:hover {
  background-color: var(--red-dark);
}

@media (max-width: 700px) {
  .action-buttons-container {
    flex-direction: column;
    align-items: center;
  }

  .action-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .content {
    max-height: 45vh;
  }
}
