@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

:root {
  --bg-color: #ffffff;
  --sidebar-width: 200px;
  --sidebar-border: 2px solid #656565;
  --padding: 15px;
  --button-bg: rgb(78, 78, 78);
  --button-hover-bg: rgb(90, 90, 90);
  --button-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  --white: white;
  --green: rgb(0, 255, 98);
  --yellow: rgb(255, 238, 0);
  --red: rgb(220, 0, 0);
  --blue: #2980b9;
  --green-dark: #229954;
  --red-dark: #c0392b;
  --border-radius: 5px;
  --font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

.container {
  display: flex;
  height: 100vh;
}

.main-nav {
  background-color: rgb(34, 32, 32);
  z-index: 1;
}

.main-nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav-item {
  margin: 0 15px;
}

.main-nav-link {
  text-decoration: none;
  color: var(--white);
  padding: 10px;
  display: block;
}

.main-nav-link:hover {
  background-color: var(--button-hover-bg);
  border-radius: var(--border-radius);
}

.main-nav-button {
  border: none;
  background: none;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  padding: var(--padding);
  flex-shrink: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background-color: rgb(34, 32, 32);
  z-index: 2;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  list-style: none;
  margin-top: 30px;
}

.sidebar li {
  position: relative;
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin-top: 20px;
  margin-left: 150px;
  /* padding-left: 20px; */
  padding-right: 10px;
  border-radius: var(--border-radius);
  background-color: var(--white);
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--white);
}

.case-details-wrapper {
  width: 90%;
  margin-left: -100px;
  margin-right: -50px;
  /* justify-content: flex-start; */
}

.case-details h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.case-details p {
  margin-bottom: -2px;
}

.case-button {
  display: block;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  background-color: var(--button-bg);
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  color: var(--white);
  text-overflow: ellipsis;
  box-shadow: var(--button-box-shadow);
  transition: all 0.3s ease;
  max-width: 100%;
}

li:hover .case-button {
  white-space: normal;
  overflow: visible;
  background-color: var(--button-hover-bg);
  transform: scale(1.05);
}

.status-strip {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
}

.status-active .status-strip {
  background-color: var(--green);
}

.status-inactive .status-strip {
  background-color: var(--yellow);
}

.status-closed .status-strip {
  background-color: var(--red);
}

.create-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.create-button {
  text-decoration: none;
  color: var(--blue);
  background-color: var(--white);
  padding: 0;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--blue);
}

.create-button:hover {
  background-color: var(--blue);
  color: var(--white);
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

form button.submit-button {
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: var(--button-box-shadow);
}

form button.submit-button:hover {
  background-color: #6396b8;
  transform: scale(1.05);
}



.logout-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 30px 0;
}

.logout-button {
  text-decoration: none;
  color: var(--white);
  background-color: var(--red);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: var(--button-box-shadow);
}

.name-user{
  color: white;
  text-transform: uppercase;
}

.logout-button:hover {
  background-color: var(--red-dark);
  transform: scale(1.05);
}

.action-button {
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: var(--button-box-shadow);
}

.update-button {
  background-color: #27ae60;
}

.update-button:hover {
  background-color: var(--green-dark);
  transform: scale(1.05);
}

.close-button {
  background-color: #e74c3c;
}

.close-button:hover {
  background-color: var(--red-dark);
  transform: scale(1.05);
}

.delete-button {
  background-color: #e74c3c;
}

.delete-button:hover {
  background-color: var(--red-dark);
  transform: scale(1.05);
}

.table {
  width: 100%;
  padding-right: 200px;
  table-layout: auto;
}

th,
td {
  text-align: left;
}

.task-buttons {
  width: 250px;
}

div.col-12 {
  margin-left: -10px;
}

div.row {
  margin-right: -150px;
}

