.header-container-welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-title {
  margin: 0;
  text-align: right;
  flex: 1;
}

.logo-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 20px; /
  }
  
.logo-container img {
    max-width: 100%;
    height: auto;
    width: 150px; 
  }


.main-nav {
   
    z-index: 1;
  }
  
  .main-nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .main-nav-item {
    margin: 0 15px;
  }
  
  .main-nav-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
  }
  
  .main-nav-link:hover {
   
    border-radius: var(--border-radius);
  }
  
  .main-nav-button {
    border: none;
    background: none;
    cursor: pointer;
  }

  .login-box {
    background-color: rgba(216, 216, 216, 0.319);
    opacity: 10;
    padding: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  .create-account-box {
    background-color: rgba(216, 216, 216, 0.319);
    opacity: 10;
    padding: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }



