@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

.header-container-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.logo-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 20px; /
  }
  
.logo-container img {
    max-width: 100%;
    height: auto;
    width: 150px; 
  }


.main-nav {
    z-index: 1;
  }
  
  .main-nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .main-nav-item {
    margin: 0 15px;
  }
  
  .main-nav-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
  }
  
  .main-nav-link:hover {
    border-radius: var(--border-radius);
  }
  
  .main-nav-button {
    border: none;
    background: none;
    cursor: pointer;
  }

  .login-box {
    background-color: rgba(239, 239, 239, 0.9);
    padding: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
  }
  
  .create-account-box {
    background-color: rgba(239, 239, 239, 0.9);
    opacity: 10;
    padding: 10px;
    max-width: 600px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

